# Create .env with the contents filled in
SR_BOOT=<ccloud schema registry endpoint>
SR_USER=<schema registry api key>
SR_PASS=<schema registry api secret>
BOOTSTRAP=<ccloud bootstrap endpoint>
USERNAME=<ccloud kafka api key>
PASSWORD=<ccloud kafka api secret>
CLUSTERID=<ccloud kafka cluster ID>
LOGIN=<ccloud user login>
LOGPASS=<ccloud user password>
